@media only screen and (max-width: 1300px) {
  .container {
    max-width: 1310px; } }
body {
  font-family: 'Times New Roman', Times, serif; }

/*sass*/
/*header*/
.ghost {
  position: fixed;
  width: 100%;
  height: 170px;
  z-index: 10;
  background: rgba(255, 255, 255, 0.719);
  background-size: 100% 100%;
  padding: 0 0 15px 0; }
  .ghost .cartheader {
    background: url("../image/topjuosta.png") no-repeat;
    background-size: 100% 100%;
    width: 80%;
    display: inline-block; }
    .ghost .cartheader ul {
      text-align: right;
      margin-bottom: 10px; }
      .ghost .cartheader ul li {
        display: inline-block;
        padding: 5px; }
        .ghost .cartheader ul li a {
          color: #429926;
          font-size: 16px; }
        .ghost .cartheader ul li a:hover {
          color: grey; }
        .ghost .cartheader ul li img {
          padding: 5px 20px 5px 20px;
          border-left: 1px solid #a3ae9b; }
  .ghost .menu-wraper {
    padding: 50px 0 0 0; }
    .ghost .menu-wraper ul {
      float: right; }
      .ghost .menu-wraper ul li {
        display: inline-block; }
        .ghost .menu-wraper ul li a {
          color: #429926;
          padding: 0 15px;
          font-size: 24px; }
        .ghost .menu-wraper ul li a:hover {
          color: grey; }

.pagrindas .slideshow .left-buttom {
  background: none;
  float: left;
  margin-top: -20%; }
.pagrindas .slideshow .right-buttom {
  background: none;
  float: right;
  margin-top: -20%; }
.pagrindas .slideshow .mySlides {
  display: none;
  width: 100%;
  height: 600px; }
.pagrindas .slideshow .pirmas-slide {
  background: url(../image/back.png) no-repeat;
  background-size: 100% 100%; }
.pagrindas .slideshow .antras-slide {
  background: url(../image/back2.png) no-repeat;
  background-size: 100% 100%; }
.pagrindas .slideshow .trecias-slide {
  background: url(../image/back3.png) no-repeat;
  background-size: 100% 100%; }
.pagrindas .slideshow .ketvirtas-slide {
  background: url(../image/back4.png) no-repeat;
  background-size: 100% 100%; }
.pagrindas .pirma-pakopa .lizdas {
  width: 250px;
  display: inline-block;
  margin: 1%; }
  .pagrindas .pirma-pakopa .lizdas img {
    height: 200px; }
  .pagrindas .pirma-pakopa .lizdas h4 {
    border-top: 1px solid black;
    font-size: 17px;
    font-weight: bold;
    color: #429926;
    margin: 5px 0 5px 0;
    padding-top: 5px;
    text-transform: uppercase; }
  .pagrindas .pirma-pakopa .lizdas h5 {
    color: #8c0202;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase; }
  .pagrindas .pirma-pakopa .lizdas h6 {
    margin: 0;
    text-transform: uppercase; }
  .pagrindas .pirma-pakopa .lizdas .clikas {
    background-color: #429926;
    color: white;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    line-height: 4;
    text-transform: uppercase;
    font-size: 10px; }
  .pagrindas .pirma-pakopa .lizdas .clikas:hover {
    color: black;
    text-decoration: none; }
.pagrindas .antra-pakopa {
  background: #c3e25a;
  background-size: 100% 100%;
  padding: 70px 0 70px 0; }
  .pagrindas .antra-pakopa .mini-lizdas {
    border: 2px solid white;
    width: 270px;
    height: 210px;
    display: inline-block;
    margin-bottom: 5px; }
    .pagrindas .antra-pakopa .mini-lizdas h3 {
      text-transform: uppercase;
      color: #429926;
      font-weight: bold;
      padding: 5px; }
    .pagrindas .antra-pakopa .mini-lizdas img {
      border-radius: 100%;
      margin: 5px; }
  .pagrindas .antra-pakopa .mini-lizdas:hover {
    text-decoration: none; }
    .pagrindas .antra-pakopa .mini-lizdas:hover h3 {
      color: grey; }
.pagrindas .trecia-pakopa {
  background: url("../image/obuolys.jpg");
  background-size: 100% 100%;
  padding: 100px 0 100px 0; }
  .pagrindas .trecia-pakopa h1 {
    color: #429926;
    font-weight: bold; }
  .pagrindas .trecia-pakopa p {
    color: #429926; }
.pagrindas .ketvirta-pakopa {
  background: url("../image/ketvirto-bekas.jpg") no-repeat;
  background-size: 100% 100%;
  height: 300px;
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 90px;
  margin-bottom: 60px; }
  .pagrindas .ketvirta-pakopa .ikona {
    display: inline-block; }
    .pagrindas .ketvirta-pakopa .ikona h1, .pagrindas .ketvirta-pakopa .ikona p {
      color: black; }
    .pagrindas .ketvirta-pakopa .ikona .a:hover {
      text-decoration: none;
      color: grey; }

.penkta-pakopa h1 {
  color: #429926;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 32px; }
.penkta-pakopa p {
  color: #429926; }

.footeris {
  margin-top: 20px;
  background-color: #222222;
  padding: 10px; }
  .footeris h3 {
    font-size: 15px;
    text-transform: uppercase;
    color: white; }
  .footeris h4 {
    font-size: 15px;
    color: #429926; }
  .footeris p {
    font-size: 15px;
    color: white; }

.endas {
  background-color: black;
  padding-top: 3px; }
  .endas .bi {
    color: white;
    float: left; }
  .endas .kkk {
    color: white;
    float: right; }

@media only screen and (max-width: 800px) {
  .header .ghost .menu-wraper {
    padding: 0 0 0 0; }

  .header .slideshow {
    margin-bottom: 360px; }
    .header .slideshow .mySlides {
      height: 500px; }

  .pagrindas .trecia-pakopa {
    padding: 5px 0 5px 0; } }
@media only screen and (max-width: 700px) {
  .header .slideshow {
    margin-bottom: 200px; }
    .header .slideshow .mySlides {
      height: 400px; } }

/*# sourceMappingURL=pagrindinis.css.map */
