@media only screen and (max-width: 1400px) {
    .container {
        max-width: 1280px;
    }
}
body {
    font-family: 'Times New Roman', Times, serif;
}
                                                /*sass*/
$zalia: #429926;
                                                /*header*/
.header {
    .slideshow {
        .mySlides {
            background-size: 100%;
            position: absolute;
            width: 100%;
            height: 500px;
            left: 0px;
            top: 0px;
            z-index: -1;
        }
        .pirmas-slide {
            background: url(../image/back.png) no-repeat;
            background-size: 100%;
        }
        .antras-slide {
            background: url(../image/back2.png) no-repeat;
            background-size: 100%;
        }
        .trecias-slide {
            background: url(../image/back3.png) no-repeat;
            background-size: 100%;
        }
        .ketvirtas-slide {
            background: url(../image/back4.png) no-repeat;
            background-size: 100%;
        }
        .ghost {
            background: rgba(255, 255, 255, 0.719);
            background-size: 100% 100%;
            padding:0 0 15px 0;
            .cartheader {
                background: url("../image/topjuosta.png") no-repeat;
                background-size: 100% 100%;
                width: 80%;
                display: inline-block;
                ul {
                    text-align: right;
                    margin-bottom:10px;
                    li  {
                        display: inline-block;
                        padding:5px;
                        a {
                            color: $zalia;
                            font-size: 16px;
                        }
                        a:hover {
                            color:grey;
                        }
                        img {
                            padding:5px 20px 5px 20px;
                            border-left:1px solid #a3ae9b;
                        }
                    }
                }
            }
        
            .menu-wraper {
                padding:50px 0 0 0;
                ul {
                    float: right;
                    li {
                        display:inline-block;
                        a {
                            color: $zalia;
                            padding: 0 15px;
                            font-size:24px;
                        }
                        a:hover {
                            color:grey;
                        }
                    }
                }
            }
        }
    }
}
                                                /*slideshow*/

.mySlides {display:none;}


